.menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1500;
}

.menu-panel.open {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-sm);
}

.close-menu {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close-menu-icon {
  width: 24px;
  height: 24px;
  display: block;
}

.menu-content {
  padding: var(--spacing-sm);
}

.menu-item {
  padding: var(--spacing-sm) var(--spacing-xs);
  cursor: pointer;
  font-size: var(--base-font-size);
}

.menu-item a {
  text-decoration: none;
  color: inherit;
}

.menu-item a.active {
  border-bottom: 2px solid var(--accent-color);
  width: fit-content;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: var(--spacing-sm) 0;
  transition: color 0.3s, border-bottom 0.3s;
  font-size: var(--base-font-size);
}

.dropdown-header.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.dropdown-header .arrow {
  transition: transform 0.3s ease;
}

.dropdown-header.active .arrow {
  transform: rotate(180deg);
}

.dropdown-content {
  padding-left: var(--spacing-md);
}

.dropdown-item {
  display: block;
  padding: var(--spacing-xs) var(--spacing-sm);
  margin: var(--spacing-xs) 0;
  font-size: var(--base-font-size);
}

